*{
    padding: 0;
    margin: 0;
}
#game{
    touch-action: manipulation;
    width: calc(100% - 50px);
    height: 500px;
    margin-left: 50px;
    background-color: #fff2f3;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 100vw;
    animation: block 1.5s infinite linear;
}
@keyframes block{
    0%{left:100vw}
    100%{left:-100px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: #fff2f3;
    position: relative;
    left: 100vw;
    top: -500px;
    box-shadow: 5px 0px #fff2f3, -5px 0px #fff2f3;

    animation: block 1.5s infinite linear;
}
#character{
    width: 40px;
    height: 28px;
    background-size: 40px;
    background-color: none;
    background-image: url("https://photos.polka.ph/polkabird/sprite.png");
    position: absolute;
    top: 100px;
}
#ground {
    width: 100%;
    position: fixed;
    left: 0;
    top: 500px;
    height: calc(100vh - 500px);
    border-top: #73CA19 solid 30px;
    background-color: #E3DB9D;
}
