*{
    padding: 0;
    margin: 0;
}
#sky{
    background-image: url("https://photos.polka.ph/polkabird/sky-tile-v2.png");
    background-repeat: repeat;
    background-size: 250px;
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 500px;
}
#game{
    touch-action: manipulation;
    width: 100vw;
    height: 500px;
    margin: auto;
    background: inherit;
    overflow: hidden;
}
#block{
    width: 50px;
    height: 500px;
    background-color: #373C42;
    position: relative;
    left: 100vw;
    animation: block 1.5s infinite linear;
}
@keyframes block{
    0%{left:100vw}
    100%{left:-100px}
}
#hole{
    width: 50px;
    height: 150px;
    background: inherit;
    position: relative;
    left: 100vw;
    top: -325px;
    box-shadow: 5px 0px #fff2f3, -5px 0px #fff2f3;

    animation: block 1.5s infinite linear;
}
#character{
    width: 50px;
    height: 35px;
    background-size: 50px;
    left:50px;
    background-color: none;
    background-image: url("https://photos.polka.ph/polkabird/sprite.png");
    position: absolute;
    top: 100px;
}
#heartcontainer{
    position: fixed!important;
    top: 20px;
    right: 30px;
    z-index: 300;
}
#heartcontainer > img {
    display: inline-block;
    src: url('https://photos.polka.ph/polkabird/heart.png');
    width: 44px;
    margin-left: 20px;
}
#ground {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 500px;
    height: calc(100vh - 500px);
    background-image: url("https://photos.polka.ph/polkabird/grass.jpg");
    background-repeat: repeat-x;
    background-size: 40px;
    background-color: #E3DB9D;
}
