*{
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

#sky{
    background-image: url("https://photos.polka.ph/polkabird/sky-tile-v2.png");
    background-repeat: repeat;
    background-size: 250px;
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 500px;
}
#game{
    touch-action: manipulation;
    width: 100vw;
    height: 500px;
    margin: auto;
    background: inherit;
    overflow: hidden;
    z-index: 0;
}
#block{
    width: 50px;
    height: 500px;
    background-color: #373C42;
    position: relative;
    left: 100vw;
    animation: block 1.5s infinite linear;
    animation-play-state: paused;

}

#loadingNextGame {
    display: none;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    border-radius: 60px;
    padding: 12px;
    margin: 10px auto;
    background-color: #ffd15C;
    font-weight: bold;
    text-align: center;
    word-break: normal;
    cursor: pointer;
}

#pleaseWait {
    display: none;
    font-size: 12pt;
    margin: 12px auto;
    border-top: 1px solid black;
    padding-top: 12px;
}

#score {
    display: inline-block;
    color: #ffd15C;
    border-radius: 100%;
    text-align: center;
    line-height: 1;
    font-size: 42px;
    margin-left: 16px;
    position: relative;
    top: -8px;
    font-weight: bold;
    text-shadow: 3px 3px 0 black;
    letter-spacing: -5px;
    font-family:'Silkscreen',Helvetica,Arial,sans-serif;

}
@keyframes block{
    0%{left:100vw}
    100%{left:-100px}
}
#hole{
    width: 50px;
    height: 150px;
    background: inherit;
    position: relative;
    left: 100vw;
    top: -325px;
    box-shadow: 5px 0px #fff2f3, -5px 0px #fff2f3;

    animation: block 1.5s infinite linear;
    animation-play-state: paused;

}
#character{
    width: 50px;
    height: 35px;
    background-size: 50px;
    left:50px;
    background-color: none;
    background-image: url("https://photos.polka.ph/polkabird/sprite.png");
    position: absolute;
    top: 100px;
}
#heartcontainer{
    position: fixed!important;
    top: 20px;
    right: 30px;
    z-index: 299;
}
#heartcontainer > img {
    display: inline-block;
    width: 44px;
    margin-left: 20px;
}



#ground {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 500px;
    height: calc(100vh - 500px);
    background-image: url("https://photos.polka.ph/polkabird/grass.jpg");
    background-repeat: repeat-x;
    background-size: 40px;
    background-color: #E3DB9D;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: min(80%, 400px);
}

/* Start Menu (background) */
#startMenu {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#vidOverlay {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 300;
}
#startup {
    z-index: 301;
    position: fixed;
    top: calc(calc(100vh - min(100vw, 100vh)) / 2);
    left:calc(calc(100vw - min(100vw, 100vh)) / 2);
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    background-color: white;
    border: none;
}

/* Start Menu Content */
#startMenuContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: min(80%, 640px);
}

#startBtn {
    background-color: #ffd15c;
    font-weight: bold;
    text-align: center;
    margin: 14px auto;
}


.button:hover,
.button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

  #startMenuContent, .modal-content  {
    font-size: 16pt;
  }
    #startMenuContent img, .modal-content img {
        width: 170px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #startMenuContent h2, .modal-content h2 {
        font-size: 26pt;
        margin: 8px auto 0;
    }
    #startMenuContent td:first-child {
        font-size: 26pt;
        min-width: 60px;
        vertical-align: top; 
        text-align: center
    }
    #startMenuContent td:nth-child(2) {
        padding: 8px 0 16px;
        vertical-align: top; 
    }

@media only screen and (max-width: 700px) {
  #startMenuContent, .modal-content  {
    font-size: 12pt;
  }
    #startMenuContent img, .modal-content img {
        width: 100px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
        #startMenuContent h2, .modal-content h2 {
        margin: 0 auto;
        font-size: 20pt;
    }
    
    
    #startMenuContent td:first-child {
        font-size: 20pt;
        min-width: 40px;
    }
    #startMenuContent td:nth-child(2) {
        padding: 0 0 16px;
    }
    #startBtn {
        margin: 10px auto;
    }
}
